
{% include "header.html" %}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>The Faculty's Dashboard
								</h1>
								<p> </p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img  width="200" height="300" src="" alt="" />
									</span>
									<a href="{{ url_for('aditi') }}">
										<h2>View My Profile</h2>
										<div class="content">
											</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img  width="200" height="300" src="" alt="" />
									</span>
									<a href="{{ url_for('edit_student') }}">
										<h2>Edit My Profile</h2>
										<div class="content">

										</div>
									</a>
								</article>

							</section>
						</div>
					</div>

				<!-- Footer -->


{% include "footer.html" %}

