{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base-form.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Welcome, Admin!</h2>
            <p>Enter Faculty Details!</p>
          </div>
        </div>
      </div>
</div>
<!-- End Page Header -->
 <section id="contact" class="contact">
<div class="row justify-content-center mt-4">
<div class="col-lg-9">
<!--            <form action="" method="post" role="form" class="php-email-form">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6 form-group">-->
<!--                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>-->
<!--                </div>-->
<!--                <div class="col-md-6 form-group mt-3 mt-md-0">-->
<!--                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->
    {{ wtf.quick_form(form, novalidate=True) }}
          </div>
    <!-- End Contact Form -->
</div>
 </section>

<!--<div class="box" style="-->
<!--    padding-top: 50px;-->
<!--">-->
<!--    <h1>Login</h1>-->

<!--    <form action="{{ url_for('login') }}" method="post">-->
<!--        <input type="text" name="email" placeholder="Email" required="required"/>-->
<!--        <input type="password" name="password" placeholder="Password" required="required"/>-->
<!--        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>-->
<!--    </form>-->
<!--</div>-->

{% endblock %}