{% include "header.html" %}
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--<div id="main">-->
<div id="main">
						<div class="inner">
							<header>
								<h1>{{ table_heading }}</h1>
							</header>


<table class="table table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Saved Data</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ cf.fac_id }}</td>
    </tr>
    <tr>
      <td>Registered Email ID</td>
      <td>{{ cf.fac_email }}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{ cf.fac_fname }}</td>
    </tr>
    <tr>
      <td>Middle Name</td>
      <td>{{ cf.fac_mname }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ cf.fac_lname }}</td>
    </tr>
    <tr>
      <td>Phone No.</td>
      <td>{{ cf.phone_no }}</td>
    </tr>
    <tr>
      <td>Department ID</td>
      <td>{{ cf.dept_id }}</td>
    </tr>
    <tr>
      <td>Department Name</td>
      <td>{{ cf.dept_name }}</td>
    </tr>
    <tr>
      <td>Assigned Group ID (By Admin)</td>
      <td>{{ cf.group_id }}</td>
    </tr>
  </tbody>
</table>
                        </div>
</div>




<!-- Footer -->


<!-- Footer -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% include "footer.html" %}