{% extends "base.html" %}
{% block content %}

<!--<div class="container">-->
<!--  <h1 class="title">Welcome, {{display_name}}!</h1>-->
<!--  <a href="{{url_for('download')}}">Download Your File</a>-->

<!--</div>-->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Welcome <span>{{ current_faculty.fac_fname }}</span></h2>
          <a href="{{ url_for('logout') }}" class="btn-get-started">Click here to logout</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">
{% endblock %}