{% import 'bootstrap/wtf.html' as wtf %}
{% include "header.html" %}
<div id="main">
						<div class="inner">
							<header>
								<h1>{{ table_heading }}</h1>
							</header>


<table class="table table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Faculty Requesting</th>
      <th scope="col">Swapping With</th>
      <th scope="col">Prev Exam Details</th>
      <th scope="col">New Exam Details</th>
    </tr>
  </thead>
  <tbody>
    {% for req in all_requests: %}
    <tr>
      <th scope="row">{{ req.curr_fac_id}}</th>
      <td>{{ req.other_fac_id }}</td>
      <td>{{ req.your_exam_slot }}</td>
      <td>{{ req.their_exam_slot}} </td>
<!--          <p><b><a href="{{ url_for('register') }}">Approve</a>.</b></p>-->
      <td>
          <form action="{{ url_for('approve_swap', swap_id= req.swap_id)}}" method="post">
                      <input class="btn btn-default" id="submit" name="submit" type="submit" value="Approve">
          </form>
      </td>
      <td>
          <form action="{{ url_for('deny_swap', swap_id= req.swap_id)}}" method="post">
                      <input class="btn btn-default" id="submit" name="submit" type="submit" value="Deny">
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
                </div>
</div>



<!-- Footer -->
{% include "footer.html" %}
